/* PREFIJO CC */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* VARIABLES */
:root {
  --background-color: #1E1E1E;
  --background-color-barraPanels: #373737;
  --background-color-titlePanel: #FFC439;
  --background-color-subBarraPanels: #444648;
  --background-color-panels: #1F1F1F;
  --color-icons: #878789;
  --text-color: #FFFFFF;
  --text-gray: #878789;
  --title-color: #FFFFFF;
  --subtitles-color: #8E8E90;
  --primary-color: #E2C14F;
  --primary-color-disabled: #e6cd75;
  --primary-color-hover: #be9f2c;
  --secondary-color: #F94C66;
  --secondary-color-disabled: #e47b8b;
  --secondary-color-hover: #d42f48;
  --third-color: #53BF9D;
  --third-color-disabled: #a9e0b0;
  --third-color-hover: #34a782;
  --font-family-Bebas: 'Bebas Neue', sans-serif;
  --font-family-Montserrat: 'Montserrat', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-Montserrat);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}

h1,h2,h3{
  letter-spacing: 6px;
}

h4{
  letter-spacing: 2px;
}

h1{
  font-family: var(--font-family-Bebas);
  font-size: 5rem;
  font-weight: 700;
  color: var(--title-color);
}

h2{
  font-family: var(--font-family-Bebas);
  font-size: 3rem;
  font-weight: 700;
  color: var(--title-color);
}

h3{
  font-family: var(--font-family-Bebas);
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color);
}
h4{
  font-family: var(--font-family-Montserrat);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--title-color);
}

p{
  font-family: var(--font-family-Montserrat);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}

/* FONTs COLORS */
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-third {
  color: var(--third-color);
}
.text-gray{
  color: var(--text-gray);
}

/* BUTTONS */
button{
  all: unset;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 2.5em;
}
.cc__btn{
  padding: 0.5em 5em;
  font-family: var(--font-family-Bebas);
}

/* PRIMARY BUTTON */
.cc__btn--primary-color{
  background-color: var(--primary-color);
  color: var(--text-color);
}
.cc__btn--primary-color:disabled{
  background-color: var(--primary-color-disabled);
  cursor: not-allowed;
}
.cc__btn--primary-color:disabled:hover{
  background-color: var(--primary-color-disabled);
}
.cc__btn--primary-color:hover{
  background-color: var(--primary-color-hover);
}

/* SECONDARY BUTTON */
.cc__btn--secondary-color{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.cc__btn--secondary-color:disabled {
  background-color: var(--secondary-color-disabled);
  cursor: not-allowed;
}
.cc__btn--secondary-color:disabled:hover {
  background-color: var(--secondary-color-disabled);
}
.cc__btn--secondary-color:hover{
  background-color: var(--secondary-color-hover);
}

/* THIRD BUTTON */
.cc__btn--third-color{
  background-color: var(--third-color);
}
.cc__btn--third-color:disabled {
  background-color: var(--third-color-disabled);
  cursor: not-allowed;
}
.cc__btn--third-color:disabled:hover {
  background-color: var(--third-color-disabled);
}
.cc__btn--third-color:hover{
  background-color: var(--third-color-hover);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
