/* PREFIJO CC */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* VARIABLES */
:root {
  --background-color: #000000;
  /* --background-color: #1E1E1E; */
  --background-color-barraPanels: #373737;
  --background-color-titlePanel: #FFC439;
  --background-color-subBarraPanels: #444648;
  --background-color-panels: #1F1F1F;
  --color-icons: #878789;
  --text-color: #FFFFFF;
  --text-gray: #878789;
  --title-color: #FFFFFF;
  --subtitles-color: #8E8E90;
  --color-gray-light: #444648;
  --color-gray-dark: #1F1F1F;
  --primary-color: #E2C14F;
  --primary-color-disabled: #e6cd75;
  --primary-color-hover: #be9f2c;
  --secondary-color: #F94C66;
  --secondary-color-disabled: #e47b8b;
  --secondary-color-hover: #d42f48;
  --third-color: #53BF9D;
  --third-color-disabled: #a9e0b0;
  --third-color-hover: #34a782;
  --font-family-Bebas: 'Bebas Neue', sans-serif;
  --font-family-Montserrat: 'Montserrat', sans-serif;
}

html,
body {
  font-family: var(--font-family-Montserrat);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 12px;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

h1,h2,h3{
  letter-spacing: 6px;
}

h4{
  letter-spacing: 2px;
}

h1{
  font-family: var(--font-family-Bebas);
  font-size: 5rem;
  font-weight: 700;
  color: var(--title-color);
}

h2{
  font-family: var(--font-family-Bebas);
  font-size: 3rem;
  font-weight: 700;
  color: var(--title-color);
}

h3{
  font-family: var(--font-family-Bebas);
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color);
}
h4{
  font-family: var(--font-family-Montserrat);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--title-color);
}

p{
  font-family: var(--font-family-Montserrat);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}

/* FONTs COLORS */
.cc__text-primary {
  color: var(--primary-color);
}
.cc__text-secondary {
  color: var(--secondary-color);
}
.cc__text-third {
  color: var(--third-color);
}
.cc__text-gray{
  color: var(--text-gray);
}

/* BUTTONS */
button{
  all: unset;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 2.5em;
}
.cc__btn{
  padding: 0.5em 5em;
  font-family: var(--font-family-Bebas);
}

/* PRIMARY BUTTON */
.cc__btn-primary-color{
  background-color: var(--primary-color);
  color: var(--text-color);
}
.cc__btn-primary-color:disabled{
  background-color: var(--primary-color-disabled);
  cursor: not-allowed;
}
.cc__btn-primary-color:disabled:hover{
  background-color: var(--primary-color-disabled);
}
.cc__btn-primary-color:hover{
  background-color: var(--primary-color-hover);
}

/* SECONDARY BUTTON */
.cc__btn-secondary-color{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.cc__btn-secondary-color:disabled {
  background-color: var(--secondary-color-disabled);
  cursor: not-allowed;
}
.cc__btn-secondary-color:disabled:hover {
  background-color: var(--secondary-color-disabled);
}
.cc__btn-secondary-color:hover{
  background-color: var(--secondary-color-hover);
}

/* THIRD BUTTON */
.cc__btn-third-color{
  background-color: var(--third-color);
}
.cc__btn-third-color:disabled {
  background-color: var(--third-color-disabled);
  cursor: not-allowed;
}
.cc__btn-third-color:disabled:hover {
  background-color: var(--third-color-disabled);
}
.cc__btn-third-color:hover{
  background-color: var(--third-color-hover);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* NAVBAR */
.cc__Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  height: 12em;
  /* padding: 2em; */
}

.cc__Header nav{
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.cc__logo-nav {
  margin-left: 8em;
  display: flex;
  gap: 1.5em;
  height: 7em;
  align-items: center;
}

.cc__logo-nav .cc__logo-img {
  height: 100%;
}

.cc__logo-nav .cc__logo-text {
  letter-spacing: 0px;
  font-weight: 500;
}
.cc__logo-nav .cc__logo-text span {
  color: var(--text-gray);
}

.cc__Header .cc__menu{
  margin-right: 0.5em;
  color: var(--text-color);
  font-size: 6em;
  font-weight: 500;
  cursor: pointer;
}


.cc__btn-login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
  border-left: 1px solid var(--text-gray);
  font-family: var(--font-family-Bebas);
  color: var(--text-gray);
  height: 100%;
  padding: 0.5em 1.8em;
}

.cc__btn-login:hover{
  background-color: var(--color-gray-dark);
}

.cc__btn-login .cc__btn-icon{
  font-size: 1.7em;
}

/* FOOTER */
.cc__footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cc__footer-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10em;
  gap: 3em;
  margin-bottom: 2em;
}

.cc__footer-logo img {
  height: 100%;
}

.cc__footer-logo h1 {
  font-size: 8.5em;
  letter-spacing: 0px;
  font-weight: 500;
}
.cc__footer-logo h1 span {
  color: var(--text-gray);
}

.cc__footer-info{
  background-color: var(--background-color-barraPanels);
  width: 70%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6em;
}

/* MAIN CONTENT SEARCH */
.cc__Main{
  display: flex;
  padding: 0 0 0 8em;
  /* width: 100vw; */
  /* height: 100vh; */
  justify-content: flex-end;
}

.cc__main-flix{
  width: 100%;
}
.cc__btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-light);
    color: #878789;
    font-size: 3.5em;
    padding: 1.3em 1.3em;
}
.cc__btn-search:hover{
    background-color: var(--color-gray-dark);
}

/* Home View */
.cc__slider-movies{
  /* height: 85%; */
}

.cc__slider-movies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTAINER MOVIES */
.cc__container-movies{
  background-color: var(--background-color-panels);
  margin: 4em 0;
}

.cc__container-movies-head{
  background-color: var(--background-color-barraPanels);
  padding: 3em 4em;
}

.cc__container-movies-head h2{
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: normal;
}

.cc__container-movies-main{
  padding: 4em 5em;
  /* display: grid; */
  /* place-items: center; */
}

/* MOVIE */
.cc__movie{
  /* width: 400px; */
  padding: 1em;
  cursor: pointer;
}
.cc__movie-contain-image{
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.cc__movie-contain-image .cc__img-movie{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cc__contain-title-movie{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1em;
}
.cc__contain-title-movie p{
  font-family: var(--font-family-Bebas);
  color: var(--color-icons);
  font-size: 2.5em;
  text-transform: uppercase;
}
.cc__contain-title-movie a{
  color: var(--color-gray-dark);
  font-size: 2em;
  padding: 0.5em 2em;
}

@media (min-width: 1024px) {
  .cc__movie-contain-image{
    height: 600px;
    width: 100%;
  }

  .slider-movies-grid-4 .cc__movie-contain-image{
    height: 500px;
    width: 100%;
  }
}

/* ------------------- CARRUSEL -------------------- */
.container-movies{

}

.Grid4Movies{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}

.Grid3Movies{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}


.slick-slider {
  /* Esto hace que no se coma una parte de la izquierda */
  display: grid !important;
  width: 100%;
  margin: 0 auto;
  /* height: 320px;
  box-sizing: border-box; */
}

/* .slick-slide img {
  height: 100%;
  width: 100%;
  border: 2.5px solid white;
  box-sizing: border-box;
} */

.slick-next{
  right: -6.5% !important;
}
.slick-prev{
  left: -6.5% !important;
}

.slick-next,
.slick-prev{
  color: white !important;
  transform: scale(2) !important;
  /* background: black !important; */
}

/* CARD COUNTRYES */
.country-card{
  height: 14em;
  width: 14em;
  /* padding: 0.5em; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-card img{
  background-color: var(--background-color-subBarraPanels);
  padding: 2.5em;
}

.country-card img:hover {
  background-color: var(--third-color);
  cursor: pointer;
}
