/* PREFIJO CC */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600;700&display=swap');

/* VARIABLES */
:root {
  --background-color: #000000;
  /* --background-color: #1E1E1E; */
  --background-color-barraPanels: #373737;
  --background-color-titlePanel: #FFC439;
  --background-color-subBarraPanels: #444648;
  --background-color-panels: #1F1F1F;
  --color-icons: #878789;
  --text-color: #FFFFFF;
  --text-gray: #AAAAAA;
  --title-color: #FFFFFF;
  --subtitles-color: #8E8E90;
  --color-gray-light: #444648;
  --color-gray-dark: #1F1F1F;
  --primary-color: #E2C14F;
  --primary-color-disabled: #e6cd75;
  --primary-color-hover: #be9f2c;
  --secondary-color: #F94C66;
  --secondary-color-disabled: #aeaeae;
  --secondary-color-hover: #d42f48;
  --third-color: #53BF9D;
  --third-color-disabled: #a9e0b0;
  --third-color-hover: #34a782;
  --font-family-Bebas: 'Bebas Neue', sans-serif;
  --font-family-Montserrat: 'Montserrat', sans-serif;
}

html,
body {
  font-family: var(--font-family-Montserrat);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 12px;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

h1,h2,h3{
  letter-spacing: 6px;
}

h4{
  letter-spacing: 2px;
}

h1{
  font-family: var(--font-family-Bebas);
  font-size: 5rem;
  font-weight: 700;
  color: var(--title-color);
}

h2{
  font-family: var(--font-family-Bebas);
  font-size: 3rem;
  font-weight: 700;
  color: var(--title-color);
}

h3{
  font-family: var(--font-family-Bebas);
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color);
}
h4{
  font-family: var(--font-family-Montserrat);
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--title-color);
}

p{
  font-family: var(--font-family-Montserrat);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}

/* FONTs COLORS */
.cc__text-primary {
  color: var(--primary-color);
}
.cc__text-secondary {
  color: var(--secondary-color);
}
.cc__text-third {
  color: var(--third-color);
}
.cc__text-gray{
  color: var(--text-gray);
}

/* BUTTONS */
button{
  all: unset;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 2.5em;
}
.cc__btn{
  padding: 0.5em 5em;
  font-family: var(--font-family-Bebas);
}

/* PRIMARY BUTTON */
.cc__btn-primary-color{
  background-color: var(--primary-color);
  color: var(--text-color);
}
.cc__btn-primary-color:disabled{
  background-color: var(--primary-color-disabled);
  cursor: not-allowed;
}
.cc__btn-primary-color:disabled:hover{
  background-color: var(--primary-color-disabled);
}
.cc__btn-primary-color:hover{
  background-color: var(--primary-color-hover);
}

/* SECONDARY BUTTON */
.cc__btn-secondary-color{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.cc__btn-secondary-color:disabled {
  background-color: var(--secondary-color-disabled);
  cursor: not-allowed;
}
.cc__btn-secondary-color:disabled:hover {
  background-color: var(--secondary-color-disabled);
}
.cc__btn-secondary-color:hover{
  background-color: var(--secondary-color-hover);
}

/* THIRD BUTTON */
.cc__btn-third-color{
  background-color: var(--third-color);
}
.cc__btn-third-color:disabled {
  background-color: var(--third-color-disabled);
  cursor: not-allowed;
}
.cc__btn-third-color:disabled:hover {
  background-color: var(--third-color-disabled);
}
.cc__btn-third-color:hover{
  background-color: var(--third-color-hover);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* NAVBAR */
.cc__Header{
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99; */
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  height: 12em;
  /* padding: 2em; */
}

.cc__Header nav{
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.cc__logo-nav {
  margin-left: 8em;
  display: flex;
  gap: 1.5em;
  height: 7em;
  align-items: center;
}

.cc__logo-nav .cc__logo-img {
  height: 100%;
}

.cc__logo-nav .cc__logo-text {
  letter-spacing: 0px;
  font-weight: 500;
}
.cc__logo-nav .cc__logo-text span {
  color: var(--text-gray);
}

.cc__Header .cc__menu{
  margin-right: 0.5em;
  color: var(--text-color);
  font-size: 6em;
  font-weight: 500;
  cursor: pointer;
}


.cc__btn-login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
  border-left: 1px solid var(--text-gray);
  font-family: var(--font-family-Bebas);
  color: var(--text-gray);
  height: 100%;
  padding: 0.5em 1.8em;
}

.cc__btn-login:hover{
  background-color: var(--color-gray-dark);
}

.cc__btn-login .cc__btn-icon{
  font-size: 1.7em;
}

/* FOOTER */
.cc__footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cc__footer-logo{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 10em;
  gap: 3em;
  margin-bottom: 2em;
}

.cc__footer-logo img {
  height: 100%;
}

.cc__footer-logo h1 {
  font-size: 8.5em;
  letter-spacing: 0px;
  font-weight: 500;
}
.cc__footer-logo h1 span {
  color: var(--text-gray);
}

.cc__footer-info{
  background-color: var(--background-color-barraPanels);
  width: 70%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6em;
}

/* MAIN CONTENT SEARCH */
.cc__Main{
  display: flex;
  padding: 0 0 0 8em;
  /* width: 100vw; */
  /* height: 100vh; */
  justify-content: flex-end;
  /* position: relative; */
  /* padding-top: 6em; */
}

.cc__square-main{
  background-color: var(--background-color-barraPanels);
  width: 100%;
  height: 4em;
}
/* .cc__Main::after {
  top: 0;
  background-color: var(--background-color-subBarraPanels);
  width: 100%;
  height: 6em;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.cc__Main::after{
  content: "";
  position: absolute;
  transition: all 0.3s ease-in;
} */

.cc__main-flix{
  width: 100%;
  z-index: 9;
}
.cc__btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-gray-light);
    color: #878789;
    font-size: 3.5em;
    padding: 1.3em 1.3em;
    z-index: 9;
}
.cc__btn-search:hover{
    background-color: var(--color-gray-dark);
}

/* Home View */
.cc__slider-movies{
  /* height: 85%; */
}

.cc__slider-home-content .slick-dots{
  display: flex !important;
  bottom: 0;
  top: 60%;
  left: 100%;
  transform: translateY(-50%);
  list-style: none;
  text-align: center;
  margin: 0px 10px;
  /* padding: 11% 1% 11% 1.5%; */
  width: auto;
  gap: 1.5em;
  flex-direction: column;
}
.cc__slider-home-content .slick-dots li{
  margin: 0 2em;
  /* height: 4em; */
}
.cc__slider-home-content .slick-dots li button:before{
    color: var(--color-icons);
    font-size: 22px;
    /* font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.cc__slider-home-content .slick-dots li.slick-active button:before{
    color: var(--secondary-color);
}

.cc__slider-movies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTAINER MOVIES */
.cc__container-movies{
  background-color: var(--background-color-panels);
  margin: 4em 0;
}

.cc__container-movies-head{
  background-color: var(--background-color-barraPanels);
  padding: 3em 6em;
}

.cc__container-movies-head h2{
  font-weight: 500;
  font-size: 3.5em;
  letter-spacing: 0;
}

.cc__container-movies-main{
  padding: 4em 5em;
  /* display: grid; */
  /* place-items: center; */
}

/* MOVIE CARD */
.cc__movie{
  /* width: 400px; */
  padding: 1em;
  cursor: pointer;
}
.cc__movie:hover .cc__contain-title-movie p{
  color: var(--text-color);
}

.cc__movie-contain-image{
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.cc__movie:hover .cc__movie-contain-image{
  /* box-shadow: rgba(10, 10, 10, 0.69) 0px 26px 30px -10px, rgba(10, 10, 10, 0.73) 0px 16px 10px -10px; */
  transform: scale(1.02);
}
.cc__movie-contain-image .cc__img-movie{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cc__contain-title-movie{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1em;
}
.cc__contain-title-movie p{
  font-family: var(--font-family-Bebas);
  color: var(--color-icons);
  font-size: 2.5em;
  text-transform: uppercase;
}
.cc__contain-title-movie a{
  color: var(--color-gray-dark);
  font-size: 2em;
  padding: 0.5em 2em;
}

@media (min-width: 1024px) {
  .cc__movie-contain-image{
    height: 600px;
    width: 100%;
  }

  .slider-movies-grid-4 .cc__movie-contain-image{
    height: 500px;
    width: 100%;
  }
}

/* ------------------- CARRUSEL -------------------- */
.Grid4Movies{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}

.Grid3Movies{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}


.slick-slider {
  /* Esto hace que no se coma una parte de la izquierda */
  display: grid !important;
  width: 100%;
  margin: 0 auto;
  /* height: 320px;
  box-sizing: border-box; */
}

/* .slick-slide img {
  height: 100%;
  width: 100%;
  border: 2.5px solid white;
  box-sizing: border-box;
} */

.slick-next{
  right: -6.5% !important;
}
.slick-prev{
  left: -6.5% !important;
}

.slick-next,
.slick-prev{
  color: white !important;
  transform: scale(2) !important;
  /* background: black !important; */
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled{
  opacity: 0.2 !important;
}

/* CARD COUNTRYES */
.country-card{
  height: 14em;
  width: 14em;
  /* padding: 0.5em; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-card img{
  background-color: var(--background-color-subBarraPanels);
  padding: 2.5em;
}

.country-card img:hover {
  background-color: var(--third-color);
  cursor: pointer;
}

/* ------------------------ CATEGORIA POR PAISES --------------------------- */
.cc__portada{
  height: 400px;
  position: relative;
}

.cc__portada img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cc__portada-country-text{
  bottom: 0;
  left: 0;
  padding: 0.7em 2.5em;
  background-color: var(--background-color-panels);
  font-family: var(--font-family-Bebas);
  font-size: 4em;
  position: absolute;
}

.cc__movies-categories{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: var(--background-color-panels);
  padding: 2em;
  margin-top: 2em;
}

.cc__movies-categories span{
  text-transform: uppercase;
  font-family: var(--font-family-Bebas);
  color: var(--text-gray);
  padding: 0 1em;
  font-size: 2.5em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
}

.cc__movies-categories span:hover {
  color: var(--text-color);
}

.cc__movies-categories span.active::before {
  /* bottom: -20px; */
  bottom: -25%;
  left: 46%;
  border-top: 10px solid var(--primary-color);
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.cc__movies-categories span.active {
  color: var(--text-color);
}

.cc__movies-categories span.active::before {
  content: "";
  position: absolute;
  transition: all 0.3s ease-in;
}

.cc__movies-categories-slider .slick-next {
  right: -3% !important;
}

.cc__movies-categories-slider .slick-prev {
  left: -3% !important;
}
.cc__movies-categories-slider .slick-next,
.cc__movies-categories-slider .slick-prev{
  top: 35% !important;
  transform: scale(1) !important;
}
.cc__movies-categories-slider .slick-next.slick-disabled,
.cc__movies-categories-slider .slick-prev.slick-disabled{
  opacity: 0.2 !important;
  /* cursor: not-allowed !important; */
}

.cc__movies-grid-category{
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 3em 0 5em 0;
}

/* MOVIE INDIVIDUAL */
.cc__movie-container{
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.cc__movie-container .cc__movie-portada{
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.cc__movie-container .cc__movie-portada img{
  height: 100%;
}

.cc__movie-container .cc__movie-sinopsis{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
.cc__movie-container .cc__movie-sinopsis .cc__container-movies{
  margin: 0;
}

.cc__movie-container .cc__movie-sinopsis .cc__container-movies p{
  font-size: 1.3em;
  font-family: var(--font-family-Montserrat);
  line-height: 1.6em;
  margin-bottom: 5em;
}

.cc__movie-container .cc__movie-sinopsis .cc__movie-btn-actions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}
.cc__movie-container .cc__movie-sinopsis .cc__movie-btn-actions button{
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
  justify-content: center;
}

.cc__movie-description{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.cc__movie-description .cc__movie-info{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.cc__movie-description .cc__movie-info label{
  font-size: 2em;
  font-weight: 500;
  font-family: var(--font-family-Montserrat);
}

.cc__movie-description .cc__movie-info span{
  font-size: 1.4em;
  font-weight: 400;
  font-family: var(--font-family-Montserrat);
}

.cc__movie-info .cc__container-movies-main{
  padding: 6em 10em;
}

/* SPINNER CSS */
.cc__container-spinner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cc__container-spinner .cc__spinner-text{
  font-size: 2.5em;
  letter-spacing: 2px;
  font-family: var(--font-family-Bebas);
}

.cc__spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.cc__spinner div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: cc__spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.cc__spinner div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.cc__spinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.cc__spinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}



@keyframes cc__spinner {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.cc__null-movies{
  font-family: var(--font-family-Bebas);
  font-size: 4em;
  margin: 0 auto;
  text-align: center;
  margin: 2em 0;
}